.product {
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
}
.prod_description {
    display: flex;
    margin-top: 39px;
    margin-bottom: 20px
}
.price {
    font-weight: 600;
    margin-left: 60px;
}
.button {
    margin-top: 20px;
}